{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    

      <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Form HTML Design</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>

  <body>
    <div class="container-fluid form-container">
      <div class="container login-container">
          <div class="row">
              <div class="col-md-5 content-part">
                  <h4 class="logo">CONSULTY</h4>

                  <img src="assets/images/feature-img-05.png" alt="">

                  <h2>Get instant appointment.</h2>
                  <p>Don’t waste your time on making appointments. Let Consulty do it for you.</p>
              </div>
              <div class="col-md-7 form-part">
                <div class="row">
                   <p class="signinlink">I already have an account <a href="/login">Sign In</a></p>

                  <div class="col-lg-8 col-md-11  formcol mx-auto">
                       <h3>Sign Up to CONSULTY</h3>
                       
                       
    {{ form_start(registrationForm) }}
    <div class="form-floating mb-3">
        {{ form_row(registrationForm.cin, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.firstName, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.lastName, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.email, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.adresse, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.phone, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-floating mb-3">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password','attr':{'class':'form-control'}
        }) }}
        </div>

        <button type="submit" class="btn btn-primary">Create Account</button>
    {{ form_end(registrationForm) }}
                       
                      
                    
                    
  

                  </div>
                 
                </div>
                 
              </div>
          </div>
      </div>
    </div> 

  </body>
  </html
{% endblock %}
