{% extends 'base.html.twig' %}

{% block title %}Liste des Patients{% endblock %}

{% block body %}
  
 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">CONSULTY</a></h1>
     

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
      
             {% if not app.user %}
                <li><a class="nav-link scrollto" href="/register">Register</a></li>
                <li><a class="nav-link scrollto" href="/login">Login</a></li>
                
             {% elseif  app.user.roles == ["ROLE_ADMIN","ROLE_USER"] %}
                <li><a class="nav-link scrollto" href="/admin/user">Patients</a></li>
                <li><a class="nav-link scrollto" href="/reservation/admin/liste">liste des Conultations</a></li>
             {% elseif  app.user.roles == ["ROLE_USER"] %}
                <li><a class="nav-link scrollto" href="/reservation/new">Reservation</a></li>
            
            {% endif %}
            {% if app.user %}
                <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
            {% endif %}
          <!--another page-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container">
     
                <div class="row">
                
                    <div class="col-lg-12">
                        <h2>  Liste des patients  </h2>
                    </div>
                </div>
                <hr />
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste des patients
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                    <tr>
                        <th>Cin</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>    
                        <th>Phone</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.cin }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                     
                        <td>{{ user.phone }}</td>
                       <td>
                         <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}">Detail</a>            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
       <!--END PAGE CONTENT -->
</div>

    </div>

     <!--END MAIN WRAPPER -->

   
     <!-- GLOBAL SCRIPTS -->
    <script src="{{ asset('assets/plugins/jquery-2.0.3.min.js') }}"></script>
     <script src="{{asset('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
    <!-- END GLOBAL SCRIPTS -->
        <!-- PAGE LEVEL SCRIPTS -->
    <script src="{{asset('assets/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('assets/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
     <script>
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
    </script>
     <!-- END PAGE LEVEL SCRIPTS -->
     
  <!-- Vendor JS Files -->
  <script src="{{ asset('assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('assets/js/main.js') }}"></script>
</body>
{% endblock %}
